body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: flex;
}

.sidebar {
    background-color: #191718;
    min-width: 10vw;
}

.sidebar-list {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

.sidebar-list-item {
    border-bottom: 1px solid rgb(147, 147, 147);
    padding: 8px 0;
}

.sidebar-list-item:hover {
    background-color: #5c5c5c;
}

.sidebar-list-link {
    text-decoration: none;
}

.sidebar-text {
    margin: 0 0 0 12px;
    color: #aaaaaa;
    font-size: 18px;
}

.sidebar-text:hover {
    color: #fff
}

.sidebar-text-active {
    color: #fff;
}

.content {
    padding: 0 6rem;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.content-heading {
    background-color: #efefef;
    padding: 1.15rem 12rem 1rem;
    margin-top: 2rem;
    text-align: center;
}

.content-heading-header {
    font-size: 16px;
    font-weight: bold;
}

.content-heading-text {
    font-size: 14px;
}

.cards {
    display: flex;

}

.card {
    margin-right: 1rem;
    margin-top: 1rem;
}

.card-heading {
    font-weight: bold;
}

.card-info {
    display: flex;
}

.card-text {
    margin: 0;
    font-size: 14px;
}

.footer {
    margin-top: 5rem;
    border-top: 1px solid rgb(147, 147, 147);
}

.footer p {
    margin-left: 3rem;
    font-size: 14px;
}